# Ignore Python virtual environment folder
env/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore test images, outputs, logs (optional)
demo_frames/
*.log

main1.py
main1_bounding_box.py
main1_torso_angle.py
yolorefined.py
tk.py
scene_detect_yolov8.py